name: Build & Test(Windows, Clang)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.3

    - name: Configure CMake
      run: cmake -B ./build -T ClangCL

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ./build --config Debug

    - name : Test
      run : ${{github.workspace}}/build/caramel_test      
